
# **** general
PORT=3000
NODE_ENV=development


# ****** JWT
JWT_SECRET=test
JWT_EXPIRE_TIME=

# ****** db postgress
DB_HOST=localhost
DB_PORT=3306
DB_PASSWORD=test
DB_NAME=test_db
DB_USER=test
DB_DIALECT=mariadb
DB_SCHEMA=public

# ****** redis
REDIS_HOST = localhost
REDIS_PORT =6379
REDIS_PASSWORD=

# ***** rabitMQ
RABBIT_URI=amqp://localhost
RABBIT_EXCHANGE_NAME=nestTest

# ***** Securitize
SECURITIZE_ISSUER_ID=44ed2a58-98ef-408c-b721-11760ba736a0
SECURITIZE_SECRET=c0d585e4-d7a8-4501-92bd-ece229e4f5be
SECURITIZE_API_BASE_URL=https://connect-gw.sandbox.securitize.io/api
SECURITIZE_REGISTRY_PROXY_ADDRESS=0xC1427014f22022F8983B2A0fC0c1cBF461aC4aD8